@import "./variables.css";

/*****************************************
*               Resetting                *
****************************************/

body {
    margin: 0;
    box-sizing: border-box;
    background-color: var(--bg_body);
}

/*****************************************
*               Dark Mode               *
****************************************/

body.dark-mode table{
    border: 1px solid var(--lines-color-dark);
    background-color: var(--bg_default-dark);
    color: var(--body-text-dark);
}
/*****************************************
*               Detailes                *
****************************************/

.logo-img{
    height: 48%;
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
}

.dark-background {
    height: 17.4rem;
    background-color: var(--body-text);
    position: absolute;
    width: 100%;
}

.details-container {
    position: absolute;
    color: #fff;
    max-width: 60em;
    margin-right: auto;
    margin-left: auto;
}

.col {
    margin: 2rem;
}

.details {
    flex: 1.8;
    padding-right: 2em;
    padding-left: 2em;
    height: 42.4rem;
}

.add_to_fav_card{
    flex: 1.059;
    justify-content: center;
    height: 420px;
    width: 300px;
    background-color: var(--bg_default);
    border: 1px solid var(--bg_default);
}


.details-header-wrapper>h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

.details-header-wrapper>p {
    color: var(--brand-secondary);
    font-weight: 400;
}

.details-text-wrapper>summary {
    font-size: 1rem;
    margin-top: 1rem;
    line-height: 22px;
}


table{
    border: 1px solid var(--lines-color);
    border-radius: 10px;
    background-color: var(--bg_default);
}


.main-head-line {
    font-size: 1.5rem;
}

td>ion-icon {
    color: var(--brand-secondary);
    font-size: 1.5rem;
    vertical-align: middle;
}

td>span{
padding: 0.5rem;
}

.card_content {
    padding: 1rem;
    font-weight: 700;
}

.card_content >p>a{
    color: var(--brand-primary);
}
.add-to-fav {
    border: 1px solid #9f9b9bc9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.899em;

}

.card_content>p{
    margin-bottom: 0.8rem;
}
.card_content p:first-child {
    color: var(--body-text);
    padding-left:0 ;
    padding-right: 0;
}


.add-to-fav p:last-child{
    font-size: 0.8rem;
    color: #9f9b9bc9;
    text-align: center;
}

.fav-text-button{
    font-size: 1.3rem;
    color: var(--bg_default);
    border: none;
    background-color: var(--brand-secondary);
    padding: 0.7rem;
    text-align: center;
    width: 100%;
}


.fav-text-button >ion-icon{
    font-size: 1.7rem;
    --ionicon-stroke-width: 22px;
}

footer {
    position: fixed;
    bottom: 1rem;
    width: 100%;
}

@media only screen and (min-width: 950px) {
    .details-wrapper {
        display: flex;
    }

    .col {
        margin-right: 2rem;
        margin-left: 0;
    }

}