@import "./variables.css";

/*****************************************
*               Resetting                *
****************************************/

body {
    margin: 0;
    box-sizing: border-box;
    background-color: var(--bg_body);
    color: var(--body-text);
}

* {
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
}

h1,
h2,
h3 {
    margin: 0;
}

input,
select {
    background-color: transparent;
}

*:focus {
    outline: none;
}

/*****************************************
*               Dark Mode               *
****************************************/

body.dark-mode {
    background-color: var(--bg_body-dark);
    color: var(--body-text-dark);
}

body.dark-mode #header {
    background-color: var(--bg_default-dark);
}

body.dark-mode .text-button {
    /* border: 1px solid var(--lines-color-dark); */
    color: var(--body-text-dark);
}

body.dark-mode #search-bar {
    background-color: var(--bg_default-dark);
    box-shadow: none;
}

body.dark-mode .banner {
    background-color: var(--bg_default-dark);
}

body.dark-mode .card {
    background-color: var(--bg_default-dark);
    box-shadow: none;
    color: var(--body-text-dark);
}

body.dark-mode img {
    background-color: var(--bg_default);

}

body.dark-mode {
    --lines-color: var(--lines-color-dark);
}


body.dark-mode a {
    color: var(--body-text-dark);

}

body.dark-mode .search-settings {
    /* border: 1px solid var(--lines-color-dark); */
    color: var(--body-text-dark);
    background-color: transparent;
}
body.dark-mode #favourite {
    background-color: var(--bg_default-dark);
}

/*****************************************
*               Light Mode               *
****************************************/
body.light-mode {
    background-color: var(--bg_body);
    color: var(--body-text);
}

body.light-mode #header {
    background-color: var(--bg_default);
}

body.light-mode .text-button {
    border: 1px solid var(--lines-color);
    color: var(--body-text);

}

body.light-mode #search-bar {
    background-color: var(--bg_default);
    box-shadow: none;
}

body.light-mode .banner {
    background-color: var(--bg_default);
}

body.light-mode .card {
    background-color: var(--bg_default);
    box-shadow: none;
    color: var(--body-text);
}

body.light-mode a {
    color: var(--body-text);

}

body.light-mode .search-settings {
    /* border: 1px solid var(--lines-color-dark); */
    color: var(--body-text);
    background-color: transparent;
}

body.light-mode {
    --lines-color: var(--lines-color);
}

/*****************************************
*               Header                  *
****************************************/

#header {
    height: 72px;
    background-color: var(--bg_default);
}

.brand-primary-text {
    font-size: 1rem;
    font-weight: 700;
    color: var(--brand-primary);
}

.text-button {
    font-weight: 400;
    font-size: 0.899rem;
    background-color: var(--bg_defaul);
    text-align: center;
    border: 1px solid var(--lines-color);
    border-radius: 3px;
    padding: 0.2rem;
    padding-inline: 10px;
}

ion-icon {
    font-size: 1rem;
    --ionicon-stroke-width: 20px;
}


/*****************************************
*               Banner                  *
****************************************/

.banner {
    background-color: var(--bg_default);
}

.rectangle_wrapper {
    height: 3rem;
    width: 100%;
    position: relative;
}

.triangle-left {
    background: linear-gradient(to right, var(--brand-primary), var(--brand-secondary));
    height: 120%;
    width: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
    position: absolute;
    z-index: 1;
    top: 0;
}

.triangle-right {
    background: linear-gradient(to left, var(--brand-secondary), var(--brand-primary));
    height: 120%;
    width: 100%;
    clip-path: polygon(100% 0, 100% 100%, 0 0);
    position: absolute;
    right: 0;
    top: 0;
}

.text-middle>h3 {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--brand-secondary);
}


/*****************************************
*               Search Bar              *
****************************************/

#search-bar {
    background-color: var(--bg_default);
}


select {
    font-weight: 400;
}

@media screen and (min-width :767px) {
    .border-md-start {
        border-left: 1px solid var(--lines-color);
    }

    .border-top {
        border-top: none !important;
    }
}



/*****************************************
*               Search Result           *
****************************************/
#spinner {
    display: none;
}


.search-result>h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

.search-result {
    margin-top: 1.6rem;
    margin-left: 3.6rem;
    margin-right: 3.6rem;
}


a {
    color: var(--body-text);
}

a:hover {
    cursor: pointer;
}

.card-title {
    font-size: 0.899rem;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: capitalize;

}

.card_text {
    font-size: 0.798rem;
    font-weight: 400;
}

.text-body-secondary {
    font-size: 0.788rem;

}

.raiting>ion-icon {
    font-size: 1rem;
    color: #e5981a;
    margin: -0.1rem;
}



/*****************************************
*               Favourites              *
****************************************/

#favourite {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--bg_default);
    width: 100%;
    z-index: 1;
    display: none;
}


.favourite_container>p {
    font-weight: 700;
}

.fav_cards {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
}

.fav_card {
    height: 6.989rem;
    width: 7.89rem;
}

.fav_card_image {
    height: 50%;
}

.fav_card_image>img {
    object-fit: fill;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

/*****************************************
*               Footer                  *
****************************************/

footer {
    margin: 2rem;
}

footer>ion-icon {
    color: var(--heart-color);
    font-size: 1.5rem;
}

/*****************************************
*               Responsive              *
****************************************/


@media screen and (max-width:570px) {

    .container {
        width: 90%;
    }
}

@media screen and (max-width:600px) {
    .search-result {
        /* margin-top: 1rem; */
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
