#category{
    font-size: 0.89rem;
}

#author{
    font-size: 0.78rem;
    color: var(--bs-gray-500);
}

.raiting{
    color: var(--bs-yellow);
}

.card-body-light{
    background-color: var(--bg_body);
    color: var(--body-text);
}

.card-body-dark{
    background-color: var(--bg_body-dark);
    color: var(--body-text-dark);
}

.category-text-light{
    color: var(--body-text);
}

.category-text-dark{
    color: var(--body-text-dark);
    font: 0.4rem;
    font-weight: 200;
}