.banner {
    background-color: var(--bg_default);
}

.rectangle_wrapper {
    height: 2rem;
    width: 100%;
    position: relative;
}

.triangle{
    width: 100%;
    height: 85%;
    top: 0;
    position: absolute;
}

.triangle-left {
    background: linear-gradient(to right, var(--brand-primary), var(--brand-secondary));
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
    z-index: 1;
}

.triangle-right {
    background: linear-gradient(to left, var(--brand-secondary), #5b5b5b);
    clip-path: polygon(100% 0, 100% 100%, 0 0);
    right: 0;
}

.text-brand-secondary {
    /* font-size: 1.3rem; */
    font-weight: 700;
    color: var(--brand-secondary);
}


@media screen  and (min-width: 992px){
    .rectangle_wrapper {
        height: 3rem;
    }
    .triangle{
        height: 135%;
    }
}