table{
    border-collapse: collapse;
    background-color: var(--bg_default);
}


.main-head-line {
    font-size: 1.5rem;
}

td>ion-icon {
    color: var(--brand-secondary);
    font-size: 1.5rem;
    vertical-align: middle;
}
.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
  padding: 0.75rem;
}
